
.leftToRight{
  animation: leftToRight 2s ease;
}

@keyframes leftToRight {
  0%{
    transform: translateX(-50%);
  }
  30%{
    transform: translateX(100%);
  }
  60%{
    transform: translateX(-30%);
  }
  100%{
    transform: translateX(0%);
  }
}
