.style-switcher{
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background-color: var(--bg-black-100);
  z-index: 100;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}
.open{
  transform: translateX(-25px);
}

.style-switcher .s-icon{
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background-color: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}


.style-switcher .day-night{
  top: 55px;
}


.style-switcher .style-switcher-toggler{
  top: 0;
  animation: rotat 1.2s infinite;
}


.style-switcher h4{
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.style-switcher .colors{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.style-switcher .colors span{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius:50%;
}

.style-switcher .color-1{
  background-color: #ec1839;
}

.style-switcher .color-2{
  background-color: #fa5b0f;
}

.style-switcher .color-3{
  background-color: #37b182;
}

.style-switcher .color-4{
  background-color: #1854b4;
}

.style-switcher .color-5{
  background-color: #f021b2;
}


.dark-section{
  background-color: #000;
}










@keyframes rotat {

  0%{
    transform: rotate(0deg);
  }

  10%{
    transform: rotate(36deg);
  }

  20%{
    transform: rotate(72deg);
  }

  30%{
    transform: rotate(108deg);
  }

  40%{
    transform: rotate(144deg);
  }
  50%{
    transform: rotate(180deg);
  }
  60%{
    transform: rotate(216deg);
  }
  70%{
    transform: rotate(252deg);
  }
  80%{
    transform: rotate(288deg);
  }
  90%{
    transform: rotate(324deg);
  }

  100%{
    transform: rotate(360deg);
  }
}